body {
    margin: 0;
    padding-top: 90px;
}
#title {
    background: skyblue;
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#whiteboard {
    font-family: "limelight", sans-serif;
    color: white;
    text-shadow:
        -2px -2px 0 rgb(69, 142, 172),
        2px -2px 0 rgb(69, 142, 172),
        -2px 2px 0 rgb(69, 142, 172),
        2px 2px 0 rgb(69, 142, 172);
}
#username {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(36, 135, 173);
    font-family: "tasa explorer", sans-serif;
}
#name {
    position: absolute;
    left: 20px;
    font-size: 20px;
    color: rgb(36, 135, 173);
    font-family: "tasa explorer", sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 120px;
}

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
    background: skyblue;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.2s;
    font-family: "Tasa Explorer", sans-serif;
    color: rgb(35, 98, 122);
    text-align: center;
}

.menu-button:hover {
    transform: translateY(-4px);
}

.icon {
  display: block; 
  margin: auto; 
  color: white;
  font-size: 50px;
  padding-top:50px;   
}

.menu-button p {
    margin: 0;
    font-size: 30px;
}

.desc {
    padding:30px;
}

#logout {
    color: rgb(11, 96, 129);
    font-family: "tasa explorer", sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
}
