<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='forms.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Limelight&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
  </head>
  <body>
    <div id="title">
      <div id="name">John Doe</div>
      <h1 id="whiteboard">Whiteboard</h1>
      <div id="username">Student</div>
    </div>
    <div id="back-button">
      <a href="{{ url_for('homepage') }}" class="back-button"
        ><p>Back to Homepage</p></a
      >
    </div>
    <div class="form-box">
      <div class="form-header">Enroll/Drop Class</div>

      <div class="form-content">
        <div class="form-row">
          <div><input type="checkbox" /> Enroll</div>
          <div><input type="checkbox" /> Drop</div>
        </div>

        <label>Enter Course ID</label>
        <input type="text" />

        <label>Enter Title</label>
        <input type="text" />
      </div>
    </div>
  </body>
</html>
