<!DOCTYPE html>
<html>
    <head>
        <title>WhiteBoard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        
    </head>
    <!-- <h2 class="wrapper">Will Dorsey is King</h2>
    <h2 class="wrapper">Haley and Colin are the Jesters</h2> -->
    <body>
        <div class="wrapper">
            <h2>Welcome to Whiteboard</h2>
            <label class="label"><b>Username</b></label>
            <input type="text" id="username" placeholder="Enter username">
            <label class="label"><b>Password</b></label>
            <input type="password" id="password" placeholder="Enter password">
            <button id="loginButton">Log in</button>
        </div>
        <p id="responseText"></p>
    </body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
<!-- class="basic-box" style="display: flex; align-items: center;" -->