

.basic-box{
    background-color: rgb(18, 161, 113);
    /* font-family: Arial, sans-serif; Default font */
    /* color: #333; Dark gray text */
    /* margin: 0; Remove default browser margin */
    /* padding: 20px; Add padding around the content */
    /* line-height: 1.6; Improve readability */
}
.basic-box2{
    background-color: rgb(99, 101, 110);
    /* font-family: Arial, sans-serif; Default font */
    /* color: #333; Dark gray text */
    /* margin: 0; Remove default browser margin */
    /* padding: 20px; Add padding around the content */
    /* line-height: 1.6; Improve readability */
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #5aebb6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
  transition: 0.5s, ease all;
}